* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-image: url("BGhome1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%
	display: flex;
}

img {
	max-width: 25%;
	height: 100%;
	padding-left: 10px;
	padding-bottom: 15px;
}

img.siz {
	padding-bottom: 0.2%;
	height: 10%;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0px 10 px;
}

header {
	background:rgb(0,0,0,0.7);
	display: flex;
	align-items: center;
	padding: 0.3rem 3rem;
	padding-bottom: 0.1%;
}

ul{
	list-style: none;
	display: flex;
}

ul a{
	display: inline-block;
	padding: 5px 35px;
	text-decoration: none;
	color: #CDB206;
	font-size: 1.325rem;
	transition: 0.5s ease-in;
	border-bottom: 2px solid transparent;
	margin-left: 5px;
}

ul a:hover {
	border-bottom: 1px solid #CDB206;
}

.pos {
	width: 150%;
	height: 90%;
	margin-left: 50px;
}

.background {
	background-color:rgb(0,0,0,0.5);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}



.wholediv {
	background-color: rgb(0,0,0,0.5);
	width: 100%;
	height: 110%;
}

fieldset {
	background-color: rgb(0,0,0,0.5);
	margin: 8.5%;
	margin-top: 5%;
	width: 33%;
	height: 70%;
	float: left;
}

legend {
	color: white;
	font-family: 'Segoe Script';
	text-align: center;
	font-size: 40px;
}

.g1 {
	color: white;
	font-size: 120%;
	padding: 4%;
	text-align: left;
}

.run {
	margin-left: 20%;
	margin-right: 20%;
	font-size: 150%;
	color: white;
	
}

.link {
	color: #CDB206;
}

#color{
	color: white;
}